<section class="project_details">
  <h2>
    <%= link_to @project.username, "https://github.com/#{@project.username}" , target: '_blank'%> / 
    <%= link_to @project.name, "https://github.com/#{@project.username}/#{@project.name }", target: '_blank' %>
  </h2>

  <p><%= @project.description %></p>

  <div class="github_stats">
    <div class="stat_count">
      <%= number_to_human(@project.contributors.count, precision: 0) %>
    </div>
    <div class="stat_type">Contributors </div>

    <div class="stat_count">
      <%= number_to_human(@project.contributions, precision: 0) %>
    </div>
    <div class="stat_type">Contributions </div>

    <div class="stat_count">
      <%= number_to_human(@project.countries, precision: 0) %>
    </div>
    <div class="stat_type">Countries </div>

    <div class="stat_count">
      <%= number_to_human(@project.states, precision: 0) %>
    </div>
    <div class="stat_type">States </div>
  </div>

  <div id="map_canvas" data-cartodb-username="<%= $cartodb_username %>" data-cartodb-table-name="<%= @project.cartodb_table_name %>"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 top">
        <h3>Top Countries</h3>
        <table>
          <thead>
            <th>Country</th>
            <th>Contributions</th>
          </thead>
          <tbody>
            <% @project.top_countries.each do |top| %>
              <tr>
                <td><%= top[:country] %></td>
                <td class="contributions">
                  <%= top[:contributions]%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 top">
        <h3>Top States</h3>
        <table>
          <thead>
            <th>State</th>
            <th>Contributions</th>
          </thead>
          <tbody>
            <% @project.top_states.each do |top| %>
              <tr>
                <td><%= top[:state] %></td>
                <td class="contributions">
                  <%= top[:contributions]%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 top">
        <h3>Top Contributors</h3>
        <table>
          <thead>
            <th>User</th>
            <th>Contributions</th>
          </thead>
          <tbody>
            <% @project.top_contributors.each do |contributor| %>
              <tr>
                <td>
                  <%= image_tag contributor.avatar_url, class: "avatar img-circle"%>
                  <%= link_to contributor.username, contributor.github_url %>
                </td>
                <td class="contributions">
                  <%= contributor.contributions %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>